<!DOCTYPE html>
<html lang="en" data-theme="dracula">

<head>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EpicCars</title>
</head>

<body class="h-dvh bg-black">
    <div class="flex flex-col items-center justify-center gap-6 ">
        <div class="navbar bg-white/5 shadow-sm mb-4 border-b border-zinc-900">
            <a class="btn btn-ghost text-xl">EpicCars</a>
        </div>
        <a href="/cars/form" class="btn btn-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-circle-plus-icon lucide-circle-plus">
                <circle cx="12" cy="12" r="10" />
                <path d="M8 12h8" />
                <path d="M12 8v8" />
            </svg>
            Nova Listagem
        </a>
        <div th:if="${message}" role="alert" class="alert alert-success alert-soft m-4">
            <span th:text="${message}"></span>
        </div>



        <main class="flex flex-wrap flex-row justify-center gap-4 place-items-center">

            <div th:each="car : ${cars}" class="card card-border bg-white/5 w-96">
                <div class="card-body items-center">
                    <h2 class="card-title text-2xl font-bold" th:text="${car.title}"></h2>
                    <img th:src="${car.img}" alt="" class="rounded-md border border-white/5">
                    <span class="flex flex-row font-semibold text-xl">R$<p th:text="${car.value}"></p>,00</span>
                    <p th:text="${car.description}" class="font-thin text-sm"></p>
                </div>
                <div class="card-actions justify-end m-4">
                    <button class="btn btn-error btn-soft">apagar</button>
                </div>
            </div>

        </main>
    </div>
</body>

</html>